{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<div class="content">
    <h1><a href="/">Home</a></h1>
    <h2>Current Path</h2>
    <p>{{ current }}</p>

    <h2>Files count: {{ files | length }}</h2>

    <button class="app-btn" id="view_images_btn">View images</button>

    <h2>View file depth</h2>
    <ul>
        <li><a {{ (depth == 1) ? 'class="selected"' : '' }} href="{{ path('site', {'path': path }) }}">One</a></li>
        <li><a {{ (depth == 2) ? 'class="selected"' : '' }} href="{{ path('site', {'path': path, 'depth': 2}) }}">Two</a></li>
        <li><a {{ (depth == 3) ? 'class="selected"' : '' }} href="{{ path('site', {'path': path, 'depth': 3}) }}">Three</a></li>
        <li><a {{ (depth == 0) ? 'class="selected"' : '' }} href="{{ path('site', {'path': path, 'depth': 0}) }}">Infinite</a></li>
    </ul>

    {% if directories | length > 0 %}
    <h2>Subdirectories</h2>
    <ul>
        {% for link, dir in directories %}
            <li><a href="{{ link }}">{{ dir }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if files | length > 0 %}
        <h2>Files in folder</h2>
        <button class="app-btn-toggle" data-target="files_list">Show</button>
        <ul id="files_list" class="hidden">
            {% for file in files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if skipped | length > 0 %}
        <h2>Skipped files in folder</h2>
        <button class="app-btn-toggle" data-target="skipped_list">Show</button>
        <ul id="skipped_list" class="hidden">
            {% for file in files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        window.slides = {{ slides | json_encode | raw }}
    </script>

    {{ parent() }}
{% endblock %}